
<div id = "contact">
	<h4> Contact Me </h4>
	<h5> Currently, aslkdfn aklsndfkasjfn kasjndfnasdfk </h5>

	<div id = "contactfield">
		<h5> Email<i class="material-icons">label</i>    </h5>
		<h5> Phone<i class="material-icons">label</i>   </h5>
		<h5> LinkedIn<i class="material-icons">label</i>   </h5>
		<h5> Github<i class="material-icons">label</i>  </h5>
	</div>

	<div id = "contactfill">
		<h5> <i class="material-icons">email</i> tshiwakoti@outlook.com  </h5>
		<h5> <i class="material-icons">phone</i> +1 510-457-6261 </h5>
		<h5> lasdmf </h5>
		<h5> alsndfka s;fndakf </h5>
	</div>
</div> 
