	<h3> Education </h3>



  <div id ="courses">

    <h4> Courses </h4>

    <div id = "book" >
      <p class = "verticalText"> Algorithms </p>
    </div>
    <div id = "book">
      <p class = "verticalText"> Data Structure </p>
    </div>
    <div id = "book">
      <p class = "verticalText"> System </p>
    </div>
    <div id = "book">
      <p class = "verticalText"> System </p>
    </div>
    <div id = "book">
      <p class = "verticalText"> System </p>
    </div>
    <div id = "book">
      <p class = "verticalText"> System </p>
    </div>
    <div id = "book">
      <p class = "verticalText"> System </p>
    </div>
    <div id = "book">
      <p class = "verticalText"> System </p>
    </div>
    <div id = "book">
      <p class = "verticalText"> System </p>
    </div>



</div>
