
<style>
  #protfolio p {
    width: 400px;
  }
</style>

<div id = "protfolio">
  <h5> This is portfolio Page </h5>
  <h5> Summary </h5>
    <p> Highly motivated technology professional launching career in Full Stack Development with passion for JavaScript and Ruby On Rails. Possesses comprehensive, practical knowledge of latest web technologies, along with expertise in multiple software application. Diverse background includes System/Network Administrator, Test Engineer, Software Developer and Web Developer.
    </p>
</div>
